<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fhscazurefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c3460df7-5e0c-49f1-9016-55bc9af56600/resourceGroups/SDX_MONACA_MIGRATION_SERVICE/providers/Microsoft.Web/sites/FHSCAzureFunction</ResourceId>
    <UserName>$FHSCAzureFunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fhscazurefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>